extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first-name') First Name:
      input#first_name.form-control(type='text' placeholder='First name (Christian) last' name='first-name' required='true' value=(author === void 0 ? '' : author.first_name))
      label(for='family-name') Family Name:
      input#family_name.form-control(type='text' placeholder='Family name (surname)' name='family-name' required='true' value=(author === void 0 ? '' : author.family_name))
    div.form-group
      label(for='date-of-birth') Date of Birth:
      input#date_of_birth.form-control(type='date' name='date-of-birth' value=(date === void 0 || date.birth === void 0 ? '' : date.birth))
    div.form-group
      label(for='date-of-death') Date of Death (if deceased)
      input#date_of_death.form-control(type='date' name='date-of-death' value=(date === void 0 || date.death === void 0 ? '' : date.death))
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
